.cell {
  @apply flex justify-center items-center;
  width: var(--cell-size);
  height: var(--cell-size);

  &.light {
    background-color: #ebc49d;
  }
  &.dark {
    background-color: #c56745;
  }
}

.light {
  background-color: #ebc49d;
}
.dark {
  background-color: #c56745;
}
