.board {
  @apply relative flex flex-wrap border border-black;
  border-color: #c56745;
  box-sizing: content-box;
  width: calc(var(--cell-size) * 8);
  height: calc(var(--cell-size) * 8);

  &::before {
    content: '';
    position: absolute;
    top: -18px;
    left: -18px;
    right: -18px;
    bottom: -18px;
    background-color: #ebc49d;
    z-index: -1;
  }
}

.leftBorder {
  @apply absolute flex justify-center items-center text-xs font-bold;
  width: 18px;
  height: var(--cell-size);
  left: -18px;

  &0 {
    top: 0;
  }
  &1 {
    top: var(--cell-size);
  }
  &2 {
    top: calc(var(--cell-size) * 2);
  }
  &3 {
    top: calc(var(--cell-size) * 3);
  }
  &4 {
    top: calc(var(--cell-size) * 4);
  }
  &5 {
    top: calc(var(--cell-size) * 5);
  }
  &6 {
    top: calc(var(--cell-size) * 6);
  }
  &7 {
    top: calc(var(--cell-size) * 7);
  }
}

.bottomBorder {
  @apply flex justify-center items-center text-xs font-bold;
  width: var(--cell-size);
  height: 18px;
}
